name: DocToc README.md

permissions:
  contents: write

on:
  push:
    paths:
      - "README.md"
  workflow_dispatch:

jobs:
  update-toc:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          # This ensures we are on a branch, not a detached head
          ref: ${{ github.ref }}

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: DocToc README.md
        run: npx doctoc README.md --maxlevel 3

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(docs): DocToc README.md [skip ci]"
          file_pattern: 'README.md'
